<div class="card">
    <div class="card-body">
        <div class="d-flex mt-3">
            <input type="text" placeholder="Search" class="form-control w-auto border border-secondary" [(ngModel)]="csearchTerm" />
            <!-- <button type="button"  class="btn btn-secondary ms-auto" (click)="openModal(editModal, null)">+ Ajouter</button> -->
        </div>
        <table class="table table-striped border mt-4">
            <thead>
                <tr>
                    <th >ID</th>
                    <th sortable="Name" >Client</th>
                    <th sortable="Name" >Telephone</th>
                    <th sortable="Name" >Annonce</th>
                    <th sortable="Name" >Date</th>
                    <th sortable="Name" >Localisation</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of notification  | slice: (cpage-1) * cpageSize : (cpage-1) * cpageSize + cpageSize  let i=index">
                    <td>{{ i+1 }}</td>
                    <!-- <td>
                        <img [src]='item.imagePath'class="me-2 rounded-circle" style="width: 30px">
                        <ngb-highlight [result]="item.Name" [term]="csearchTerm"></ngb-highlight>
                    </td> -->
                    <td>
                        <ngb-highlight [result]="item.utilisateur.prenom" [term]="csearchTerm"></ngb-highlight>
                        <span> </span>
                         <ngb-highlight [result]="item.utilisateur.nom" xl  class="nomClass" [term]="csearchTerm"></ngb-highlight> 
                    </td>
                    <td>
                        <ngb-highlight [result]="item.utilisateur.telephone" [term]="csearchTerm"></ngb-highlight>

                        <!-- <ngb-highlight [result]="item.utilisateur.prenoms" [term]="csearchTerm"></ngb-highlight> -->
                    </td>
                    <td>
                        <ngb-highlight [result]="item.parcelleAppartemnt.domaine" [term]="csearchTerm"></ngb-highlight>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>


    
    
                </tr>
            </tbody>
        </table>
    
        <div class="d-flex justify-content-between p-2">    
            <ngb-pagination [(page)]="cpage"
            [pageSize]="cpageSize"
            [collectionSize]="totalLengthOfCollection"></ngb-pagination>
            <select class="form-select" style="width: auto" [(ngModel)]="cpageSize">
            <option [ngValue]="2">2 items per page</option>
            <option [ngValue]="4">4 items per page</option>
            <option [ngValue]="6">6 items per page</option>
          </select>
        </div>
    </div>  
    
</div>
