<div class="card">
    <div class="card-body">
    <div class="d-flex mt-3">
        <input type="text" placeholder="Search" class="form-control w-auto border border-secondary" [(ngModel)]="csearchTerm" />
        <button type="button"  class="btn btn-secondary ms-auto" (click)="openModal(editModal, null)">+ Ajouter</button>
    </div>
    <table class="table table-striped border mt-4">
        <thead>
            <tr>
                <th >ID</th>
                <th sortable="Name" >Ville</th>
                <th sortable="Name" >Commune</th>
                <th sortable="Name" >Quartier</th>

                
               
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let quartier of cfiltreQuartierList | slice: (cpage-1) * cpageSize : (cpage-1) * cpageSize + cpageSize  let i=index">
                <td>{{ i+1 }}</td>
                <!-- <td>
                    <img [src]='commune.imagePath'class="me-2 rounded-circle" style="width: 30px">
                    <ngb-highlight [result]="commune.Name" [term]="csearchTerm"></ngb-highlight>
                </td> -->
                <td>
                <ngb-highlight [result]="quartier.ville" [term]="csearchTerm"></ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="quartier.commune" [term]="csearchTerm"></ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="quartier.libelle" [term]="csearchTerm"></ngb-highlight>
                </td>
               

                <td>
                   <i-feather name="edit-3" class="feather-sm text-info me-2 pointer"  (click)="openModal(editModal, quartier)"></i-feather>
                    <i-feather name="trash-2" class="feather-sm text-danger pointer" (click)="delete(quartier.uuid)"></i-feather> 
                </td>


            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">    
        <ngb-pagination [(page)]="cpage"
        [pageSize]="cpageSize"
        [collectionSize]="totalLengthOfCollection"></ngb-pagination>
        <select class="form-select" style="width: auto" [(ngModel)]="cpageSize">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
      </select>
    </div>
    </div>
</div>

<ng-template #editModal let-modal>

    <div class="modal-header bg-secondary text-white">
        <h5 class="modal-title" id="editLabel">{{editAddLabel}} quartier</h5>
        <button type="button" class="btn-close bg-danger" (click)="closeBtnClick()" aria-label="Close">
        </button>
    </div>

    <div class="modal-body">
        <app-quartier-form [childProperty]="parentProperty"></app-quartier-form>
    </div>
</ng-template>
