<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <!-- You can find this in the dashboard-component -->
        <app-project-counter></app-project-counter>
    </div>
</div>
<!-- ============================================================== -->
<!-- chart and stats -->
<!-- ============================================================== -->
